.AudioCard1 {
  margin-top: 30px;
  .ltime {
    text-align: left;
  }
  .rtime {
    text-align: right;
  }
  i {
    color: red;//#e20f9c;
    font-size: 50px;
    margin: 40px auto;
  }
  .sliders {
    border: solid 1px transparent;
    border-radius: 8px;
    height: 7px;
    width: 100%;
    outline: none;

    -webkit-appearance: none;
  }
  .sliders::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    background: #e20f9c;
    cursor: pointer;
    border-radius: 0;
  }

  .sliders::-moz-range-thumb {
    width: 7px;
    height: 7px;
    background: red;//#e20f9c;
    cursor: pointer;
    border-radius: 0;
  }
  @media screen and (max-width: 768px) {
    margin-top: 80px;
    i {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }
}
