.swag_block {
  background-color: #80c4bd;
  margin-top: 0px;
  margin-bottom: 150px;
  a,
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  .swag_head {
    background-color: #e20f9c;
   font-family: 'Raleway', sans-serif;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    width: 60%;
    margin: 0px 0px 30px 30px;
    transform: translateY(-35px);
    -webkit-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    -moz-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    border-radius: 5px;
  }
  .swag_section_text {
    text-align: left;
    color: #fff;
    .swag_section_btn {
      margin-left: auto;
      background-color: #349c90;
      font-family: 'Raleway', sans-serif;
      width: 200px;
      text-align: center;
      font-weight: bold;
      padding: 20px;
      margin-top: 80px;
      margin-bottom: -40px;
      -webkit-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
      -moz-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
      box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
      border-radius: 5px;
    }
  }
  .img-fluid {
    border: solid 20px #fff;
    margin-bottom: -100px;
    outline: 5px solid #98e3db;
  }
  @media screen and (max-width: 992px) {
    background-color: #fff;
    .swag_head {
      font-size: 20px;

      margin: 0px 0px 0px 0px;
      transform: translateY(-35px);
    }
    .swag_section_text {
      background-color: #80c4bd;
      margin-bottom: 70px;
      margin-top: -50px;
      padding-top: 40px;
      .swag_section_btn {
        margin: auto;
        margin-top: 80px;
        margin-bottom: -40px;
      }
    }
  }
}
