.Podcast {
  margin-top: 30px;
  position: relative;
  z-index: 1;

  .spot {
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    margin-right: 40px;
    margin-top: -1%;
  }
  .para_pod_main {
    
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    -moz-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    border-radius: 5px;
  }
  .para_pod {
    text-align: left;
    padding-top: 20px;
    width: 45%;
  }
  .title{
    color: #3d3360;
    font-weight: bold;
  }
  .para_pod_pink {
    a,
    a:hover {
      text-decoration: none;
      color: #44ccbd;
    }
    font-size: 25px;
    margin-top: 30px;
    margin-left: 60px;
    font-family: 'Raleway', sans-serif;
    i {
      color: #44ccbd;
      margin-left: 10px;
    }
  }
  .para_pod_details {
    background-color: #44ccbd;
    color: #fff;
    padding: 10px;
    margin-top: -8%;
    h3 {
      font-family: 'Raleway', sans-serif;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 10px;
    .spot {
      width: 150px;
      margin-right: -50px;
      margin-top: -4%;
    }
    .para_pod_main {
      height: 100%;
    }
    .para_pod {
      transform: translateY(80%);
      padding-top: -30px;
      width: 100%;
    }
    .para_pod_pink {
      font-size: 10px;
      margin-top: 5px;
    }
    .para_pod_details {
      background-color: #44ccbd;
      margin-top: -80px;
      color: #fff;
      padding: 10px;
      transform: translateY(-50%);
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    .para_pod_pink {
      font-size: 20px;
      margin-top: 30px;
      font-family: 'Raleway', sans-serif;
      i {
        color: #fff;
        background-color: #e20f9c;
        padding: 4px;
        border-radius: 50%;
      }
    }
    .para_pod_details {
      background-color: #44ccbd;
      margin-top: -40px;
      color: #fff;
      padding: 10px;
      transform: translateY(0%);
    }
    .spot {
      position: absolute;
      width: 300px;
      right: 0;
      top: 0;
      margin-right: -150px;
      margin-top: -12%;
    }
  }
}
