.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
  .btnb {
    background-color: #44ccbd;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    margin: auto;
    margin-top: 30px;
    display: block;
    outline: sild 1px #fff;
  }
}
