.App {
  overflow-x: hidden;
  text-align: center;
  font-family: "Telex";
  scroll-behavior: smooth;
  .head_overlay {
    -webkit-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    -moz-box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    box-shadow: rgba(0, 0, 0, 76%) -4px 3px 29px 1px !important;
    border-radius: 5px;
    z-index: 2 !important;
    width: 30% !important;
    margin-bottom: -2em !important;
    h3 {
      margin: 0.3rem auto;
    }
  }
  @media screen and (max-width: 767px) {
    .head_overlay {
      width: 50% !important;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
